p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
}

.hidden-title {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
