$colorBackgroundPrimary: #ffb8ca;
$colorBackgroundSecondary: #e5e5e5;
$colorBackgroundTertiary: #fff5f6;
$colorBackgroundQuaternary: #ffffff;
$colorFontPrimary: #000000;
$colorFontSecondary: #ffffff;
$colorFontTertiary: #d41443;
$colorFontQuaternary: #907e82;
$colorFontQuinary: #ffa5ba;
$colorButtonBackgroundPrimary: #ffffff;
$colorButtonBackgroundSecondary: #d41443;
$colorBackgroundModalSecondary: #e17992;
