<section class="about">
  <div class="about__images">
    <div class="container about__container" id="about">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__content">
      <picture>
        <source
          srcset="
            ./images/about/cow-501-min.png    1x,
            ./images/about/cow-501@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/about/cow-336-min.png    1x,
            ./images/about/cow-336@2x-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/about/cow-280-min.png    1x,
            ./images/about/cow-280@2x-min.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="about-image__cow"
          src="./images/about/cow-501-min.png"
          alt="cow"
          width="280"
        />
      </picture>
      <div class="about-text">
        <p class="about-text__one">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about-text__two">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. <br />
          <br />

          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <form>
          <label class="checkbox-about" aria-label="close">
            Read more<svg
              class="header-top__btn-icon"
              width="8px"
              height="10px"
            >
              <use
                href="./images/hero-header/symbol-defs.svg#icon-btn-arrow"
                class="header-top__btn-icon"
              ></use>
            </svg>
            <input
              type="checkbox"
              class="checkbox-about__checkbox"
              name="topic"
            />
            <span class="checkbox-about__box"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Assumenda voluptatum quidem possimus delectus quaerat cum
              consectetur! Quae, quaerat blanditiis vel commodi illum a
              assumenda sint. Quas voluptas, consectetur eaque explicabo sunt
              numquam reprehenderit fugit repudiandae praesentium cupiditate
              inventore, accusantium laborum doloribus magnam corrupti
              assumenda! Consectetur corrupti quos eum repudiandae iusto!</span
            >
          </label>
        </form>
      </div>
    </div>
  </div>
</section>
  </div>
  
