<section class="contacts">
  <div class="container contacts-container">
    <h2 class="contact__title visualy-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item contacts__first-item">
        <p class="product-item-name">cafe</p>
        <ul class="contact-card__list list">
          <li class="contact-card__item">
            <p class="contact-card__item-title">Chicago</p>
            <p class="contact-card__item-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contact-card__item">
            <ul class="list">
              <li class="contact-schedule">
                <p class="contact-card__item-title">Monday - Friday</p>
                <p class="contact-card__item-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contact-schedule">
                <p class="contact-card__item-title">Saturday - Sunday</p>
                <p class="contact-card__item-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contact-card__item">
            <ul class="list contact-navi">
              <li class="contact-navi__item">
                <a class="contact-address__link link" href="tel:+610383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a
                  class="contact-mail__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item contacts__second-item">
        <p class="product-item-name product-item-name--even">Food truck</p>
        <ul class="contact-card__list list">
          <li class="contact-card__item">
            <p class="contact-card__item-title">Los Angeles</p>
            <p class="contact-card__item-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contact-card__item">
            <ul class="list">
              <li class="contact-schedule">
                <p class="contact-card__item-title">Monday - Friday</p>
                <p class="contact-card__item-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contact-schedule">
                <p class="contact-card__item-title">Saturday - Sunday</p>
                <p class="contact-card__item-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contact-card__item">
            <ul class="list contact-navi">
              <li class="contact-navi__item">
                <a class="contact-address__link link" href="tel:+610383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a
                  class="contact-mail__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item contacts__third-item">
        <p class="product-item-name">cafe</p>
        <ul class="contact-card__list list">
          <li class="contact-card__item">
            <p class="contact-card__item-title">New York</p>
            <p class="contact-card__item-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contact-card__item">
            <ul class="list">
              <li class="contact-schedule">
                <p class="contact-card__item-title">Monday - Friday</p>
                <p class="contact-card__item-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contact-schedule">
                <p class="contact-card__item-title">Saturday - Sunday</p>
                <p class="contact-card__item-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contact-card__item">
            <ul class="list contact-navi">
              <li class="contact-navi__item">
                <a class="contact-address__link link" href="tel:+610383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a
                  class="contact-mail__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contact-btn-container">
      <button class="contacts-btn our-locations-btn">Our Locations ></button>
      <button class="contacts-btn franchise-btn">Franchise ></button>
    </div>
  </div>
</section>
