<section class="contacts" id="contacts">
  <div class="container contacts-container">
    <h2 class="contact__title visualy-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item contacts__first-item">
        <p class="product-item-name">cafe</p>
        <ul class="contact-card__list list">
          <li class="contact-card__item">
            <p class="contact-card__item-title">Chicago</p>
            <p class="contact-card__item-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contact-card__item">
            <ul class="list">
              <li class="contact-schedule">
                <p class="contact-card__item-title">Monday - Friday</p>
                <p class="contact-card__item-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contact-schedule">
                <p class="contact-card__item-title">Saturday - Sunday</p>
                <p class="contact-card__item-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contact-card__item">
            <ul class="list contact-navi">
              <li class="contact-navi__item">
                <a class="contact-address__link link" href="tel:+610383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a
                  class="contact-mail__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item contacts__second-item">
        <p class="product-item-name product-item-name--even">Food truck</p>
        <ul class="contact-card__list list">
          <li class="contact-card__item">
            <p class="contact-card__item-title">Los Angeles</p>
            <p class="contact-card__item-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contact-card__item">
            <ul class="list">
              <li class="contact-schedule">
                <p class="contact-card__item-title">Monday - Friday</p>
                <p class="contact-card__item-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contact-schedule">
                <p class="contact-card__item-title">Saturday - Sunday</p>
                <p class="contact-card__item-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contact-card__item">
            <ul class="list contact-navi">
              <li class="contact-navi__item">
                <a class="contact-address__link link" href="tel:+610383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a
                  class="contact-mail__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item contacts__third-item">
        <p class="product-item-name">cafe</p>
        <ul class="contact-card__list list">
          <li class="contact-card__item">
            <p class="contact-card__item-title">New York</p>
            <p class="contact-card__item-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contact-card__item">
            <ul class="list">
              <li class="contact-schedule">
                <p class="contact-card__item-title">Monday - Friday</p>
                <p class="contact-card__item-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contact-schedule">
                <p class="contact-card__item-title">Saturday - Sunday</p>
                <p class="contact-card__item-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contact-card__item">
            <ul class="list contact-navi">
              <li class="contact-navi__item">
                <a class="contact-address__link link" href="tel:+610383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a
                  class="contact-mail__link link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contact-btn-container" data-contacts-open>
      <button class="contacts-btn our-locations-btn" type="button">Our Locations ></button>
      <button class="contacts-btn franchise-btn" type="button">Franchise ></button>
    </div>
    
      <div class="contacts__backdrop is-hidden" data-contacts>
      <div class="contacts__modal">
        <button class="contacts__button-close" type="button" data-contacts-close>
          <svg class="contacts__button-icon" width="14" height="14">
            <use href="/src/images/icons/icons.svg#cross" />
          </svg>
        </button>

          <div class="contacts__map">
          <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50396.00521999306!2d-118.33347320999647!3d34.03501222333775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c63e86511a9d%3A0x4d7642199f3a7cd5!2sVan%20Leeuwen%20Ice%20Cream!5e0!3m2!1sru!2str!4v1659951510155!5m2!1sru!2str"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </div>
      </div>
      
    
  </div>
</section>

