<section class="customer-reviews">
  <h2 class="hidden-title">customer reviews</h2>
  <div class="container swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="customer-reviews__overlay swiper-slide">
        <div>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/x1/testimonials1-1.png    1x,
                ./images/customer-reviews/x2/testimonials1-1@2x.png 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images//customer-reviews/x1/testimonials1-1.png"
              alt="photo-customer"
            />
          </picture>
        </div>
        <div class="customer-reviews__feedback-overlay">
          <p class="customer-reviews__feedback">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </div>
      <div class="customer-reviews__overlay swiper-slide">
        <div>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/x1/testimonials1-3.png    1x,
                ./images/customer-reviews/x2/testimonials1-3@2x.png 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images//customer-reviews/x1/testimonials1-3.png"
              alt="photo-customer"
            />
          </picture>
        </div>
        <div class="customer-reviews__feedback-overlay">
          <p class="customer-reviews__feedback">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__name">Vitara, Hollywood</p>
      </div>
      <div class="customer-reviews__overlay swiper-slide">
        <div>
          <picture>
            <source
              srcset="
                ./images/customer-reviews/x1/testimonials1-4.png    1x,
                ./images/customer-reviews/x2/testimonials1-4@2x.png 2x
              "
            />
            <img
              class="customer-reviews__photo"
              src="./images//customer-reviews/x1/testimonials1-4.png"
              alt="photo-customer"
            />
          </picture>
        </div>
        <div class="customer-reviews__feedback-overlay">
          <p class="customer-reviews__feedback">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__name">Black Mamba, Houston</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
