<section class="customer-reviews">
  <div class="container">
    <div class="customer-reviews__overlay">
      <div>
        <picture>
          <source
            srcset="
              ./images/customer-reviews/x1/testimonials1-1.png    1x,
              ./images/customer-reviews/x2/testimonials1-1@2x.png 2x
            "
          />
          <img
            class="customer-reviews__photo"
            src="./images//customer-reviews/x1/testimonials1-1.png"
            alt="photo-customer"
          />
        </picture>
      </div>
      <div class="customer-reviews__feedback-overlay">
        <p class="customer-reviews__feedback">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="customer-reviews__name">Emily, Los Angeles</p>
    </div>

</section>
