<section>
  <h2 class="hidden-title">Gallery</h2>
  <ul>
    <li><img src="" alt="" srcset="" /></li>
    <li><img src="" alt="" srcset="" /></li>
    <li><img src="" alt="" srcset="" /></li>
    <li><img src="" alt="" srcset="" /></li>
    <li><img src="" alt="" srcset="" /></li>
    <li><img src="" alt="" srcset="" /></li>
    <li><img src="" alt="" srcset="" /></li>
    <li><img src="" alt="" srcset="" /></li>
    <li><img src="" alt="" srcset="" /></li>
    <li><img src="" alt="" srcset="" /></li>
  </ul>
</section>
