<section class="gallery gallery--property">
  <div class="container">
    <h2 class="hidden-title">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__items gallery__items--first">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-5-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-5-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-5-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-5-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-5-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-5-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-5-min.png"
            alt="pistacho-ice-cream"
          />
        </picture>
      </li>
      <li class="gallery__items gallery__items--second">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-4-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-4-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-4-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-4-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-4-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-4-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-4-min.png"
            alt="ice-cream-cone"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-6-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-6-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-6-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-6-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-6-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-6-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-6-min.png"
            alt="ice-cream-on-stick"
          />
        </picture>
      </li>
      <li class="gallery__items gallery__items--third">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-1-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-1-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-1-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-1-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-1-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-1-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-1-min.png"
            alt="compliation-ice-creams"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-7-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-7-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-7-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-7-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-7-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-7-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-7-min.png"
            alt="lady-with-ice-cream"
          />
        </picture>
      </li>
      <li class="gallery__items gallery__items--fourth">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-9-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-9-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-9-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-9-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-9-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-9-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-9-min.png"
            alt="hand-put-fruin-on-top-of-ice-cream"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-8-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-8-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-8-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-8-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-8-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-8-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-8-min.png"
            alt="ice-cone-in-hand"
          />
        </picture>
      </li>
      <li class="gallery__items gallery__items--fifth">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-10-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-10-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-10-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-10-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-10-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-10-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-10-min.png"
            alt="dog-lick-ice-cream"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-12-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-12-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-12-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-12-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-12-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-12-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-12-min.png"
            alt="chocolate-milk-shake-in-hand"
          />
        </picture>
      </li>
      <li class="gallery__items gallery__items--sixth">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/x1/home-pic5-11-min.png    1x,
              ./images/gallery/mobile/x2/home-pic5-11-min@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/x1/home-pic5-11-min.png    1x,
              ./images/gallery/tablet/x2/home-pic5-11-min@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/x1/home-pic5-11-min.png    1x,
              ./images/gallery/desktop/x2/home-pic5-11-min@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/desktop/x1/home-pic5-11-min.png"
            alt="sweets-on-top-glass-of-milk"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
