<header class="header container" id="header">
    <div class="header-top">
        <img src="./images/hero-header/Logo.svg" alt="logo" class="header-top__logo">
        <nav class="menu-header">
            <ul class="menu-header__list">
                <li class="menu-header__item">
                    <a href="#header" class="menu-header__link">Home</a>
                </li>
                <li class="menu-header__item">
                    <a href="#about" class="menu-header__link">About us</a>
                </li>
                <li class="menu-header__item">
                    <a href="#advantages" class="menu-header__link">How it’s made?</a>
                </li>
                <li class="menu-header__item">
                    <a href="#products" class="menu-header__link">Our products</a>
                </li>
                <li class="menu-header__item">
                    <a href="#contacts" class="menu-header__link">Contact</a>
                </li>
            </ul>
        </nav>
        <img src="./images/hero-header/menu-open.svg" alt="menu-open" class="header-top__menu-open">
    </div>
</header>