<a href="#logo" class="link home-image scroll-to"
  ><svg class="home-image__icon">
    <use href="/src/images/icons/icons.svg#home" /></svg
></a>
<header class="header" id="header">
  <div class="container header__container">
    <div class="menu-container" data-menu>
      <button
        class="menu-container.is-open__button"
        type="button"
        data-modal-open
      >
        Buy now
        <svg
          class="header-top__btn-icon header-top__btn-icon-menu"
          width="8px"
          height="10px"
        >
          <use
            href="./images/hero-header/symbol-defs.svg#icon-btn-arrow"
            class="header-top__btn-icon"
          ></use>
        </svg>
      </button>
      <nav>
        <ul class="menu-container__list">
          <li class="menu-container__item">
            <a href="#header" class="menu-container__link scroll-to">Home</a>
          </li>
          <li class="menu-container__item">
            <a href="#about" class="menu-container__link scroll-to">About us</a>
          </li>
          <li class="menu-container__item">
            <a href="#advantages" class="menu-container__link scroll-to"
              >How it’s made?</a
            >
          </li>
          <li class="menu-container__item">
            <a href="#products" class="menu-container__link scroll-to"
              >Our products</a
            >
          </li>
          <li class="menu-container__item">
            <a href="#contacts" class="menu-container__link scroll-to"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-top">
      <a href="./index.html">
        <img
          src="./images/hero-header/Logo.svg"
          alt="logo"
          class="header-top__logo"
          id="logo"
        />
      </a>
      <button
        type="button"
        class="menu__button menu-header__button is-open"
        aria-label="open-mobile-menu"
        data-menu-button
      >
        <svg
          class="menu__icon header-top__menu-open"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="icon__menu"
            href="./images/hero-header/symbol-defs.svg#icon-menu-close"
            class="menu__close--position menu__icon--animate"
          ></use>
          <use
            class="icon__close"
            href="./images/hero-header/symbol-defs.svg#icon-menu-open"
            class="menu__icon--animate"
          ></use>
        </svg>
      </button>
    </div>
    <section class="hero">
      <div class="hero__box-left">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--heavy">passion</span>
        </h1>
        <ul class="hero__list">
          <li class="hero__item">
            <a href="#products" class="hero__link hero__link--first scroll-to"
              >Products</a
            >
          </li>
          <li class="hero__item">
            <a href="#advantages" class="hero__link hero__link--last scroll-to"
              >How it’s made?</a
            >
          </li>
        </ul>
      </div>
      <ul class="hero__listbox">
        <li class="hero__point">
          <span class="hero__number">16</span>
          <p class="hero__info">cafes</p>
        </li>
        <li class="hero__point">
          <span class="hero__number">23</span>
          <p class="hero__info">food trucks</p>
        </li>
      </ul>
      <label class="checkbox-test">
        <input
          type="checkbox"
          class="checkbox-test__checkbox"
          aria-label="open-hero-information"
        />

        <span class="checkbox-test__list1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </span>
        <span class="checkbox-test__list2">
          <span class="list2__main"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Doloremque cumque officiis adipisci porro, esse eaque fuga nemo
            velit! Pariatur vero molestias quia sed, a est id dignissimos
            aliquam reiciendis sunt consequuntur labore minus ad dolorum
            voluptatum eos autem excepturi.</span
          >
          <span class="list2__before"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ab
            est sint, quam itaque libero et sed minus ullam iste soluta
            asperiores deserunt distinctio, consectetur error rerum.</span
          >
          <span class="list2__after"
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos ab
            est sint.</span
          >
        </span>
        <svg class="hero__arrow-right">
          <use
            href="./images/hero-header/symbol-defs.svg#icon-arrow-left2"
          ></use>
        </svg>
      </label>
    </section>
  </div>
  <div class="header-backdrop is-hidden1" data-modal>
    <div class="hero-modal">
      <img
        src="./images/hero-header/Logo.svg"
        alt="modal-logo"
        class="header-top__logo header-top__logo--menu"
      />
      <form class="hero-form" aria-label="site-form">
        <div class="hero-form__item">
          <label class="hero-form__label" for="name"> Name </label>
          <input
            type="text"
            class="hero-form__input"
            placeholder=" "
            id="name"
          />
          <svg class="hero-form__input-icon">
            <use
              href="./images/hero-header/symbol-defs-new.svg#icon-person-black"
            ></use>
          </svg>
        </div>
        <div class="hero-form__item">
          <label class="hero-form__label" for="phone"> Phone </label>
          <input
            type="text"
            class="hero-form__input"
            placeholder=" "
            id="phone"
          />
          <svg class="hero-form__input-icon">
            <use
              href="./images/hero-header/symbol-defs-new.svg#icon-phone-black"
            ></use>
          </svg>
        </div>
        <div class="hero-form__item">
          <label class="hero-form__label" for="mail"> Email </label>
          <input
            type="text"
            class="hero-form__input"
            placeholder=" "
            id="mail"
          />
          <svg class="hero-form__input-icon">
            <use
              href="./images/hero-header/symbol-defs-new.svg#icon-email-black"
            ></use>
          </svg>
        </div>
        <div class="hero-form__item hero-form__item--textarea">
          <label class="hero-form__label" for="comments"> Comments </label>
          <textarea
            name="textarea"
            class="hero-form__textarea"
            placeholder="Enter you text"
            id="comments"
          ></textarea>
        </div>
        <div class="checkbox-contanier">
          <label class="checkbox-contanier__checkbox-label">
            <input
              type="checkbox"
              class="checkbox-contanier__checkbox"
              name="topic"
            />
            <span class="icon__check"></span>
            I agree to the Privacy Policy and
            <a
              href="https://github.com/Vokoloven/ice-cream-amateurs"
              class="contract"
              rel="nofollow noopener noreferrer"
              >Terms and Conditions
            </a>
          </label>
        </div>
        <button
          type="submit"
          class="hero-form__button-send"
          aria-label="submit-form"
        >
          SEND
          <svg
            class="header-top__btn-icon header-top__btn-icon-menu"
            width="8px"
            height="10px"
          >
            <use
              href="./images/hero-header/symbol-defs.svg#icon-btn-arrow"
              class="header-top__btn-icon"
            ></use>
          </svg>
        </button>
      </form>
      <button
        aria-label="close modal window"
        data-modal-close
        class="hero-modal__close"
      >
        <svg class="hero-modal__icon" width="14px" height=" 14px">
          <use
            href="./images/hero-header/symbol-defs.svg#icon-menu-close"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</header>
