<section class="products product-section" id="products">
  <div class="container">
    <p class="product__pre-title">100% natural</p>
    <h2 class="product__title">products</h2>
    <ul class="product-card__list list">
      <li class="product-card__item product-card-first">
        <h3 class="product-card__title">ice cream</h3>
        <p class="product-card__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="product-btn"></button>
        <div class="modal-wind">
          <h3 class="product-card__title modal-title">ice coffee</h3>
          <p class="product-card__desc modal-card">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Sint quasi autem iure, enim facilis repellat asperiores assumenda
            exercitationem consectetur! Reprehenderit quo tempore adipisci
            similique perferendis sed numquam ab quam possimus.
          </p>
          <button class="product-btn"></button>
        </div>
      </li>
      <li class="product-card__item product-card-second">
        <h3 class="product-card__title">ice coffee</h3>
        <p class="product-card__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="product-btn"></button>
      </li>

      <li class="product-card__item product-card-third">
        <h3 class="product-card__title">milkshakes</h3>

        <p class="product-card__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="product-btn"></button>
      </li>
    </ul>
    <!-- <div class="modal-thumb">
      
    </div> -->
  </div>
</section>
