.about {
    background-color: $colorBackgroundTertiary;
}
.about__label{
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 18px, $lh: 21px);
    text-align: center;
    text-transform: uppercase;
    color: $colorFontQuinary;
    padding-top: 60px;

    @include tablet{
        padding-top: 64px;
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 26px, $lh: 30px);
    
}

    @include desktop{
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 30px, $lh: 34px);
    }
}
 
.about__title{ 
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 34px, $lh: 39px);
    text-align: center;
    text-transform: uppercase;
    color: $colorFontTertiary;
    padding-top: 15px;
    padding-bottom: 32px;


    @include tablet {
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 48px, $lh: 55px);
    }

    @include desktop {
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 58px, $lh: 66px);
  }
}
.about-text__one {
    @include fonts($fs: 12px, $lh: 19px);
    color: $colorFontPrimary;
   padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include tablet {
            @include fonts($fs: 14px, $lh: 25px);     
        }

    @include desktop {
                     @include fonts($fs: 16px, $lh: 28px);
                 }

}

.about-text__two {
    color: $colorFontQuaternary;
    padding-bottom: 20px;
    padding-right: 80px;
    @include fonts($fs:12px, $lh: 19px);
   
    @include tablet {
            @include fonts($fs: 14px, $lh: 25px);
        }

            @include desktop {
                    @include fonts($fs: 14px, $lh: 27px)}  }

.about__btn {
    @include fonts($fw: 700, $fs: 16px, $lh: 21px);
        display: flex;
        align-items: center;
        text-align: center;
        color: $colorFontTertiary;
        background-color: #ffffff;
        margin-bottom: 40px;
}
