.about {
    background-color: $colorBackgroundTertiary;}
    .about__images{
background-image: url("../images/about/fon-milk-280-min.png");
        background-repeat: no-repeat;
        background-position-y: 70%;
        background-size: contain;
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/about/fon-milk-280@2x-min.png");
            background-size: contain;
        }
    
        @include tablet {
            background-image: none;
        }
    
        @include desktop {
            background-image: url("../images/about/fon-milk-1200-min.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
           
        

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url("../images/about/fon-milk-1200@2x-min.png");
            background-size: contain;
            background-position: center;
            }
                    }}

.about__container {
    padding-bottom: 40px;

@include tablet{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 60px;
}}

.about__label{
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 18px, $lh: 21px);
    text-align: center;
    text-transform: uppercase;
    color: $colorFontQuinary;
    padding-top: 60px;

    @include tablet{
        padding-top: 64px;
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 26px, $lh: 30px);   
}
    @include desktop{
        padding-top: 60px;
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 30px, $lh: 34px);
    }
}
 
.about__title{ 
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 34px, $lh: 39px);
    text-align: center;
    text-transform: uppercase;
    color: $colorFontTertiary;
    padding-top: 15px;
    padding-bottom: 32px;


    @include tablet {
        padding-top: 16px;
        padding-bottom: 40px;
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 48px, $lh: 55px);
    }

    @include desktop {
    @include fonts($ff: 'Titan One', $fw: 400, $fs: 58px, $lh: 66px);
    padding-top: 16px;
    padding-bottom: 60px;
}
}
.about-text__one {
    @include fonts($fs: 12px, $lh: 19px);
    color: $colorFontPrimary;
    padding-top: 40px;
    padding-bottom: 40px;

    @include tablet {
        padding-bottom: 21px;
        padding-top: 0px;
        min-width: 334px;
            @include fonts($fs: 14px, $lh: 25px);     
        }

    @include desktop {
        padding-bottom: 32px;
            padding-top: 0px;
     max-width: 463px;

                     @include fonts($fs: 16px, $lh: 28px)
                    }

}

.about-text__two {
    color: $colorFontQuaternary;
    padding-bottom: 20px;

    
    @include fonts($fs:12px, $lh: 19px);
   
    @include tablet {
            @include fonts($fs: 14px, $lh: 25px);
            padding-top: 0px;
                min-width: 334px;
                padding-bottom: 40px;
        }

     @include desktop {
                padding-bottom: 40px;
                    padding-top: 0px;
                    max-width: 463px;
                    @include fonts($fs: 14px, $lh: 27px)}  }

// .about__btn {
//     @include fonts($fw: 700, $fs: 16px, $lh: 21px);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//         color: $colorFontTertiary;
//         background-color: #ffffff;
//         width: 160px;
//         height: 44px;
//         border: none;
//         border-radius: 22px;
//         transition: all .25s ease-in-out;
//             &:hover,
//                 &:focus {
//                     background-color: $colorFontTertiary;
//                     color: $colorFontSecondary;
//                 }
//         }

.about__content {
    @include tablet{
    display: flex;
    }
}

.about-image__cow{
    
    @include tablet{
        min-width: 336px;
        margin-right: 32px;
        
    }
         @include desktop{
        min-width: 501px;
        margin-right: 99px;
    }
}

.checkbox-about__checkbox:checked+.checkbox-about__box {
    display: block;
}

.checkbox-about__box {
    display: none;
        position: absolute;
        content: "";
        width: 270px;
        position: absolute;
        bottom: 70px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 100px;
        background-color: $colorBackgroundPrimary;
        border-radius: 25px;

    @include tablet {
        display: none;
            position: absolute;
            content: "";
            width: 390px;
            position: absolute;
            bottom: 80px;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 185px;
            background-color: $colorBackgroundPrimary;
            border-radius: 25px;
    }

    @include desktop{
    display: none;
    position: absolute;
        content: "";
            width: 800px;
            position: absolute;
            top:80px;
            bottom: -190px;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 100px;
            background-color: $colorBackgroundPrimary;
            border-radius: 25px;}
}

.checkbox-about__checkbox{
 appearance: none;
 border: none;

    }

.checkbox-about__box {
    @include fonts($fs: 12px, $lh: 19px);
    color: black;

    @include tablet{
        @include fonts($fs: 14px, $lh: 27px);
    }

    @include desktop{
    @include fonts($fs: 14px, $lh: 27px);
    }

}
.checkbox-about{
        @include fonts($fw: 700, $fs: 16px, $lh: 21px);
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $colorFontTertiary;
            background-color: #ffffff;
            width: 160px;
            height: 44px;
            border: none;
            cursor: pointer;
            border-radius: 22px;
            transition: all .25s ease-in-out;
        
            &:hover,
            &:focus {
                background-color: $colorFontTertiary;
                color: $colorFontSecondary;
            }
        }