.customer-reviews__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-reviews__feedback-overlay {
  padding: 43px 58px 26px;
  margin-bottom: 36px;
  background-color: #fafafa;

  @include tablet {
    padding: 41px 55px 41px 51px;
  }
}

.customer-reviews__photo {
  margin-bottom: 32px;
}

.customer-reviews__feedback {
  position: relative;

  width: 157px;

  text-align: center;
  @include fonts($fs: 12px, $lh: 31px);
  color: $colorFontPrimary;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 30px,
    #e1e1e1 31px
  );

  @include tablet {
    width: 620px;
    @include fonts($fs: 16px, $lh: 30px);
    background: repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 27px,
      #e1e1e1 28px
    );
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(-12px, -13px);

    width: 54px;
    height: 40px;

    content: '';
    background-image: url('/src/images/customer-reviews/coma.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;

    @include tablet {
      transform: translate(-45px, -15px);
    }
  }

  &::after {
    position: absolute;
    right: 50%;
    bottom: -34px;
    transform: translateX(50%);

    width: 32px;
    height: 4px;

    content: '';
    background-image: url('/src/images/customer-reviews/Ellipse.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.customer-reviews__name {
  @include fonts($fs: 14px, $lh: 26px);
  color: $colorFontPrimary;
}
