//   header
.header__container {
    position: relative;
    overflow: hidden;
    height: 502px;
    background-image:url(../images/hero-header/hero-pic-320-2x-min.png),
     url(../images/hero-header/Ellipse.png);
    background-size: 171px 410px, 344px;
    background-repeat: no-repeat;
    background-position: 117 93, 36 83;
    @include mobile {
        background-size: 171px 410px, 344px;
        background-position: 147 93, 66 83;
    }
    @media screen and (min-width: 580px) {
        background-image:url(../images/hero-header/hero-pic-320-2x-min.png),
        url(../images/hero-header/Ellipse.png);
        background-size: 171px 410px, 344px;
        background-position: 147 93, 66px 83px;
    }
    @include tablet {
        background-image:url(../images/hero-header/hero-pic-320-2x-min.png),
        url(../images/hero-header/baby-768-2x-min.png),
        url(../images/hero-header/milk-768-2x-min.png),
        url(../images/hero-header/Ellipse.png);
        background-size: 143px 336px, 190px 150px, 152px 154px, 344px;
        background-position: 322 80, 526 265, 32 246, 248 43;        
        height: 416px;
    }
    @include desktop {
        background-image:url(../images/hero-header/hero-1200-2x-min.png),
        url(../images/hero-header/baby-1200-2x-min.png),
        url(../images/hero-header/milk-1200-2x-min.png),
        url(../images/hero-header/Ellipse.png);
        background-size: 236px 557px, 304px 241px, 213px 215px, 534px;
        background-position: 636 108, 880 423, 16 388, 517 54;        
        height: 664px;
    }

}
.header {
    overflow: hidden;
    background-image: linear-gradient(to right, FFA5BA, FFA5BA);
    background-color: $colorBackgroundPrimary;
    &__container {
        @include tablet {
            padding-left: 32px;
            padding-right: 32px;
            
        }
        @include desktop {
            padding-left: 16px;
            padding-right: 16px;
            
        }
    }

    &-top {
        display: flex;
        padding-top: 8px;
        @include tablet {
            padding-top: 32px;
        }
        @include desktop {
            padding-top: 37px;
        }
        &__logo {
            width: 199px;
            height: 50px;
            &--menu {
                margin-right: auto;
                margin-bottom: 10px;
                @include tablet {
                    margin-left: auto;
                    margin-bottom: 10px;
                }
                @include desktop {
                    margin-left: auto;
                    margin-bottom: 20px;
                }
            }
        }
        &__menu-open {
            margin-left: auto;
            color: $colorFontTertiary;
            width: 20px;
            height: 14px;
            transition: 250ms;

            &:hover,
            &:focus {
                color: $colorFontSecondary;
            }
        }
        &__button {
            position: relative;
            display: none;
            border-radius: 22px;
            @include tablet {
                position: absolute;
                right: 32px;
                border-radius: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 44px;
                @include fonts ($fw: 700, $fs: 16px, $lh: 21px);
                color: $colorFontTertiary;
                border: none;
                background-color: $colorFontSecondary;
                border-radius: 22px;
                margin-left: 32px;
                transition: 250ms;
                transition-timing-function: ease-in-out;
                &:hover,
                &:focus {
                    background-color: $colorFontTertiary;
                    color: $colorFontSecondary;
                }
            }

            @include desktop {
                margin-left: auto;
            }

        }
        &__btn-icon {
            display: block;
            position: relative;
            content: "";
            top: 1px;
            height: 10px;
            margin-left: 10px;
            fill: currentColor;
            &-menu {
                margin-left: 20px;
            }
        }
    }
}

// hero

.hero {
    display: flex;
    margin-top: 136px;
    @include mobile {
        margin-top: 16px;
    }
    @include desktop {
        margin-top: 60px;
    }
    &__box-left {
        position: relative;
        @include mobile {
            margin-top: 120px;
        }
        @include tablet {
            margin-top: 10px;
        }
        @include desktop {
            margin-top: 0px;
        }
    }
     
    &__title {
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 26px, $lh: 30px);
        margin-right: auto;
        margin-bottom: 20px;
        color: $colorFontSecondary;
        text-transform: uppercase;
        width: 218px;
        @include tablet {
            @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 22px, $lh: 25px);
            width: 162px;
        }
        @include desktop {
            @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 38px, $lh: 44px);
            margin-bottom: 24px;
            width: 277px;
        }
        &--heavy {
            @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 48px, $lh: 46px);
            color: $colorFontTertiary;
            @include tablet {
                @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 34px, $lh: 46px);    
            }
            @include desktop {
                @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 58px, $lh: 46px);    
            }
        }
    }
    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
        display: flex;
        background-color: $colorFontTertiary;
        border-radius: 20px;

        &:nth-child(1) {
            margin-right: 8px;
        }

        &:hover,
        &:focus {
            background-color: $colorFontTertiary;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 20px;
        @include fonts ($fw: 400, $fs: 8px, $lh: 10px);
        color: $colorFontSecondary;
        transition: 250ms;
        
        &--first {
            width: 62.4px;
            height: 24px;
        }

        &--last {
            width: 82.8px;
            height: 24px;
        }

        &:hover,
        &:focus {
            background-color: $colorFontSecondary;
            color: $colorFontTertiary;
        }
    }

    &__text {
        display: none;
        @include tablet {
            display: none;
            @include fonts ($fw: 400, $fs: 8px, $lh: 10px);      
            color: $colorFontSecondary;  
            margin-top: 61px;
            margin-left: 152px;
            width: 114px;
        }
        @include desktop {
            display: none;
            @include fonts ($fw: 400, $fs: 14px, $lh: 14px);      
            color: $colorFontSecondary;  
            margin-top: 108px;
            margin-left: 181px;
            width: 200px;
        }
    }

    &__listbox {
        padding-right: 10px;
        display: none;
        transition: 250ms;
        @include mobile {
            display: block;
        }
        list-style: none;
        margin-left: auto;
    }

    &__point {
        text-align: end;
    }

    &__number {
        position: relative;
        z-index: 1;
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 28px, $lh: 32px);
        color: $colorFontTertiary;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 16px;
            height: 16px;
            top: -2px;
            right: -10px;
            border-radius: 50%;
            background-color: $colorFontSecondary;
        }
    }

    &__info {
        @include fonts ($fw: 400, $fs: 8px, $lh: 10px);
        color: $colorFontSecondary;
    }

    &__circle-right {
        display: none;
        @include tablet {
            cursor: pointer;
            display: flex;
            position: relative;
            width: 18px;
            height: 18px;
            background-color: $colorFontSecondary;
            border-radius: 50%;
            margin-left: 152px;
            margin-top: 7px;
            color: $colorFontTertiary;
        }
        @include desktop {
            margin-left: 181px;
            margin-top: 20px;
            width: 26px;
            height: 26px;
        }
        &:hover,
        &:focus {
            background-color: $colorFontTertiary;
            color: $colorFontSecondary;
        }
    }
    &__arrow-right {
        display: none;
        @include tablet {
            display: flex;
            position: relative;
            transform-origin: 100%;
            transform: scale(-1, 1);
            fill: currentColor;
            width: 6px;
            height: 6px;
            top: 67;
            left: 0;
        }
        @include desktop {
            top: 115;
            left: 0;
            width: 8px;
            height: 8px;
            transform-origin: 105%;
        }
    }
}

