//anchor-home
.home-image {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 19;
  & .home-image__icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    stroke-width: 0;
    stroke: currentColor;
    fill: $colorButtonBackgroundSecondary;
  }
}
//   header
.header__container {
  position: relative;
  overflow: hidden;
  height: 502px;
  background-image: url(../images/hero-header/hero-pic-320-1x-min.png),
    url(../images/hero-header/Ellipse.png);
  background-size: 171px 410px, 344px;
  background-repeat: no-repeat;
  background-position: 117 93, 36 83;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-header/hero-pic-320-2x-min.png),
      url(../images/hero-header/Ellipse.png);
  }
  @include mobile {
    background-size: 171px 410px, 344px;
    background-position: 147 93, 66 83;
  }
  @media screen and (min-width: 580px) {
    background-image: url(../images/hero-header/hero-pic-320-1x-min.png),
      url(../images/hero-header/Ellipse.png);
    background-size: 171px 410px, 344px;
    background-position: 147 93, 66px 83px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/hero-pic-320-2x-min.png),
        url(../images/hero-header/Ellipse.png);
    }
  }
  @include tablet {
    background-image: url(../images/hero-header/hero-768-1x-min.png),
      url(../images/hero-header/baby-768-1x-min.png),
      url(../images/hero-header/milk-768-1x-min.png),
      url(../images/hero-header/Ellipse.png);
    background-size: 143px 336px, 190px 150px, 152px 154px, 344px;
    background-position: 322 80, 526 265, 32 246, 248 43;
    height: 416px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/hero-768-2x-min.png),
        url(../images/hero-header/baby-768-2x-min.png),
        url(../images/hero-header/milk-768-2x-min.png),
        url(../images/hero-header/Ellipse.png);
    }
  }
  @include desktop {
    background-image: url(../images/hero-header/hero-1200-1x-min.png),
      url(../images/hero-header/baby-1200-1x-min.png),
      url(../images/hero-header/milk-1200-1x-min.png),
      url(../images/hero-header/Ellipse.png);
    background-size: 236px 557px, 304px 241px, 213px 215px, 534px;
    background-position: 636 108, 880 423, 16 388, 517 54;
    height: 664px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/hero-1200-2x-min.png),
        url(../images/hero-header/baby-1200-2x-min.png),
        url(../images/hero-header/milk-1200-2x-min.png),
        url(../images/hero-header/Ellipse.png);
    }
  }
}
.header {
  overflow: hidden;
  background-image: linear-gradient(to right, FFA5BA, FFA5BA);
  background-color: $colorBackgroundPrimary;
  &__container {
    @include tablet {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include desktop {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &-top {
    display: flex;
    padding-top: 8px;
    @include tablet {
      padding-top: 32px;
    }
    @include desktop {
      padding-top: 37px;
    }
    &__logo {
      position: relative;
      z-index: 10;
      cursor: pointer;
      width: 199px;
      height: 50px;
      &--menu {
        margin-right: auto;
        margin-bottom: 10px;
        @include tablet {
          margin-left: auto;
          margin-bottom: 10px;
        }
        @include desktop {
          margin-left: auto;
          margin-bottom: 20px;
        }
      }
    }
    &__menu-open {
      overflow: hidden;
      // position: fixed;
      z-index: 13;
      margin-left: auto;
      color: $colorFontTertiary;
      width: 20px;
      height: 14px;
      transition: 250ms;
      @media screen and (max-width: 767px) {
        overflow: auto;
        position: fixed;
        top: 20px;
        right: 20.1px;
      }

      &:hover,
      &:focus {
        color: $colorFontSecondary;
      }
    }
    &__button {
      position: relative;
      display: none;
      border-radius: 22px;
      @include tablet {
        position: absolute;
        right: 32px;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 44px;
        @include fonts($fw: 700, $fs: 16px, $lh: 21px);
        color: $colorFontTertiary;
        border: none;
        background-color: $colorFontSecondary;
        border-radius: 22px;
        margin-left: 32px;
        transition: 250ms;
        transition-timing-function: ease-in-out;
        &:hover,
        &:focus {
          background-color: $colorFontTertiary;
          color: $colorFontSecondary;
        }
      }

      @include desktop {
        margin-left: auto;
      }
    }
    &__btn-icon {
      display: block;
      position: relative;
      content: '';
      top: 1px;
      height: 10px;
      margin-left: 10px;
      fill: currentColor;
      &-menu {
        margin-left: 20px;
      }
    }
  }
}

// hero

.hero {
  display: flex;
  margin-top: 136px;
  @include mobile {
    margin-top: 16px;
  }
  @include desktop {
    margin-top: 60px;
  }
  &__box-left {
    position: relative;
    @include mobile {
      margin-top: 120px;
    }
    @include tablet {
      margin-top: 10px;
    }
    @include desktop {
      margin-top: 0px;
    }
  }

  &__title {
    @include fonts(
      $ff: 'Titan One',
      $ffs: normal,
      $fw: 400,
      $fs: 26px,
      $lh: 30px
    );
    margin-right: auto;
    margin-bottom: 20px;
    color: $colorFontSecondary;
    text-transform: uppercase;
    width: 218px;
    @include tablet {
      @include fonts(
        $ff: 'Titan One',
        $ffs: normal,
        $fw: 400,
        $fs: 22px,
        $lh: 25px
      );
      width: 162px;
    }
    @include desktop {
      @include fonts(
        $ff: 'Titan One',
        $ffs: normal,
        $fw: 400,
        $fs: 38px,
        $lh: 44px
      );
      margin-bottom: 24px;
      width: 277px;
    }
    &--heavy {
      @include fonts(
        $ff: 'Titan One',
        $ffs: normal,
        $fw: 400,
        $fs: 48px,
        $lh: 46px
      );
      color: $colorFontTertiary;
      @include tablet {
        @include fonts(
          $ff: 'Titan One',
          $ffs: normal,
          $fw: 400,
          $fs: 34px,
          $lh: 46px
        );
      }
      @include desktop {
        @include fonts(
          $ff: 'Titan One',
          $ffs: normal,
          $fw: 400,
          $fs: 58px,
          $lh: 46px
        );
      }
    }
  }
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    display: flex;
    background-color: $colorFontTertiary;
    border-radius: 20px;
    transition: 250ms;

    &:nth-child(1) {
      margin-right: 8px;
    }

    &:hover,
    &:focus {
      background-color: $colorFontTertiary;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    @include fonts($fw: 400, $fs: 8px, $lh: 10px);
    color: $colorFontSecondary;
    transition: 250ms;

    &--first {
      transition: 250ms;
      transition-timing-function: ease-in-out;
      width: 62.4px;
      height: 24px;
      @include desktop {
        width: 107px;
        height: 40px;
        @include fonts($fw: 400, $fs: 15px, $lh: 18px);
      }
    }

    &--last {
      width: 82.8px;
      height: 24px;
      @include desktop {
        width: 138px;
        height: 40px;
        @include fonts($fw: 400, $fs: 15px, $lh: 18px);
      }
    }

    &:hover,
    &:focus {
      background-color: $colorFontSecondary;
      color: $colorFontTertiary;
    }
  }

  &__text {
    display: none;
    @include tablet {
      display: none;
      @include fonts($fw: 400, $fs: 8px, $lh: 10px);
      color: $colorFontSecondary;
      margin-top: 61px;
      margin-left: 152px;
      width: 114px;
    }
    @include desktop {
      display: none;
      @include fonts($fw: 400, $fs: 14px, $lh: 14px);
      color: $colorFontSecondary;
      margin-top: 108px;
      margin-left: 181px;
      width: 200px;
    }
  }

  &__listbox {
    padding-right: 10px;
    display: none;
    transition: 250ms;
    @include mobile {
      display: block;
    }
    list-style: none;
    margin-left: auto;
    @include desktop {
      padding-right: 18px;
    }
  }

  &__point {
    text-align: end;
  }

  &__number {
    position: relative;
    z-index: 1;
    @include fonts(
      $ff: 'Titan One',
      $ffs: normal,
      $fw: 400,
      $fs: 28px,
      $lh: 32px
    );
    @media screen and (max-width: 767px) {
      @include fonts(
        $ff: 'Titan One',
        $ffs: normal,
        $fw: 400,
        $fs: 36px,
        $lh: 53px
      );
    }
    @include desktop {
      @include fonts(
        $ff: 'Titan One',
        $ffs: normal,
        $fw: 400,
        $fs: 46px,
        $lh: 53px
      );
    }
    color: $colorFontTertiary;
    @include desktop {
      @include fonts(
        $ff: 'Titan One',
        $ffs: normal,
        $fw: 400,
        $fs: 46px,
        $lh: 53px
      );
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 16px;
      height: 16px;
      top: -2px;
      right: -10px;
      border-radius: 50%;
      background-color: $colorFontSecondary;
      @media screen and (max-width: 767px) {
        width: 26px;
        height: 26px;
        right: -18px;
      }
      @include desktop {
        width: 30px;
        height: 30px;
        right: -18px;
      }
    }
  }

  &__info {
    @include fonts($fw: 400, $fs: 8px, $lh: 10px);
    color: $colorFontSecondary;
  }

  &__circle-right {
    display: none;
    @include tablet {
      cursor: pointer;
      display: flex;
      position: relative;
      width: 18px;
      height: 18px;
      background-color: $colorFontSecondary;
      border-radius: 50%;
      margin-left: 152px;
      margin-top: 7px;
      color: $colorFontTertiary;
    }
    @include desktop {
      margin-left: 181px;
      margin-top: 20px;
      width: 26px;
      height: 26px;
    }
    &:hover,
    &:focus {
      background-color: $colorFontTertiary;
      color: $colorFontSecondary;
    }
  }
  &__arrow-right {
    transition: 250ms;
    transition-timing-function: ease-in-out;
    display: none;
    @include tablet {
      display: flex;
      position: relative;
      transform-origin: 100%;
      transform: scale(-1, 1);
      fill: $colorFontTertiary;
      width: 6px;
      height: 6px;
      top: 115;
      left: 0;
    }
    @include desktop {
      top: 193;
      left: 0;
      width: 8px;
      height: 8px;
      transform-origin: 105%;
    }
  }
}

.checkbox-contanier__checkbox-label {
  display: none;
}

.menu__button {
  @media screen and (max-width: 767px) {
    background-color: red;
  }
}

// .header-top

.header-top > .is-open > svg {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: -7px;
    right: -287px;
  }
}
