//   header
.header {
    height: 502px;
    // background-image: linear-gradient(to right, FFA5BA, FFA5BA),
    // url(../images/hero-header/hero-pic-320-2x-min.png);
    // background-size: 171px 410px;
    // background-repeat: no-repeat;
    // background-position: 117 92;
    background-image:url(../images/hero-header/hero-pic-320-2x-min.png),
     url(../images/hero-header/Ellipse.png);
    background-size: 171px 410px, 344px;
    background-repeat: no-repeat;
    background-position: 117 93, 36 83;
    background-image: linear-gradient(to right, FFA5BA, FFA5BA);
    background-color: $colorBackgroundPrimary;
    &-top {
        display: flex;
        padding-top: 8px;
        @include tablet {
            padding-top: 32px;
        }
        @include desktop {
            padding-top: 37px;
        }
        &__logo {
            width: 199px;
            height: 50px;
        }
        &__menu-open {
            margin-left: auto;
            color: $colorFontTertiary;
            width: 20px;
            height: 12px;
            transition: 250ms;

            &:hover,
            &:focus {
                color: $colorFontSecondary;
            }
        }
        &__button {
            position: relative;
            display: none;
            @include tablet {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 44px;
                @include fonts ($fw: 700, $fs: 16px, $lh: 21px);
                color: $colorFontTertiary;
                border: none;
                background-color: $colorFontSecondary;
                border-radius: 22px;
                margin-left: 32px;
                transition: 250ms;
                transition-timing-function: ease-in-out;
                &:hover,
                &:focus {
                    background-color: $colorFontTertiary;
                    color: $colorFontSecondary;
                }
            }

            @include desktop {
                margin-left: auto;
            }

        }
        &__btn-icon {
            display: block;
            position: relative;
            content: "";
            top: 1px;
            height: 10px;
            margin-left: 10px;
            fill: currentColor;
        }
    }
}

// hero

.hero {
    display: flex;
    margin-top: 136px;
    @include mobile {
        margin-top: 16px;
    }
    &__box-left {
        @include mobile {
            margin-top: 120px;
        }
    }
    &__title {
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 26px, $lh: 30px);
        margin-right: auto;
        margin-bottom: 20px;
        color: $colorFontSecondary;
        text-transform: uppercase;
        width: 218px;
        @include tablet {
            @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 22px, $lh: 25px);
        }
        @include desktop {
            @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 38px, $lh: 44px);
            margin-bottom: 24px;
            width: 277px;
        }
        &--heavy {
            @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 48px, $lh: 46px);
            color: $colorFontTertiary;
        }
    }
    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
        display: flex;
        background-color: $colorFontTertiary;
        border-radius: 20px;

        &:nth-child(1) {
            margin-right: 8px;
        }

        &:hover,
        &:focus {
            background-color: $colorFontTertiary;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 20px;
        @include fonts ($fw: 400, $fs: 8px, $lh: 10px);
        color: $colorFontSecondary;
        transition: 250ms;
        
        &--first {
            width: 62.4px;
            height: 24px;
        }

        &--last {
            width: 82.8px;
            height: 24px;
        }

        &:hover,
        &:focus {
            background-color: $colorFontSecondary;
            color: $colorFontTertiary;
        }
    }

    &__listbox {
        display: none;
        @include mobile {
            display: block;
        }
        list-style: none;
        margin-left: auto;
    }

    &__point {
        text-align: end;
    }

    &__number {
        position: relative;
        z-index: 1;
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 28px, $lh: 32px);
        color: $colorFontTertiary;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 16px;
            height: 16px;
            top: -2px;
            right: -10px;
            border-radius: 50%;
            background-color: $colorFontSecondary;
        }
    }

    &__info {
        @include fonts ($fw: 400, $fs: 8px, $lh: 10px);
        color: $colorFontSecondary;
    }
}

