.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
.product__pre-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  color: $colorFontSecondary;
}
// .product__title {
// }
// .product-card__list {
// }
// .product-card__item {
// }
// .product-card {
// }
// .product-card__title {
// }
// .product-card__desc {
// }
