
.menu-header {
    display: flex;
    align-items: center;
    &__list {
        list-style: none;
        display: none;
        margin-left: 128px;
        @include desktop {
            display: flex;
        }
    }    
    &__link {
        @include fonts ($fw: 700, $fs: 16px, $lh: 20px);
        color: $colorFontSecondary;
        margin-left: 35px;
        text-decoration: none;
        transition: 250ms;

        &:hover,
        &:focus {
            color: $colorFontTertiary;
        }
    }    
    &__button {
        border: none;
        background-color: transparent;
        margin-left: auto;
        @include desktop {
            display: none;
        }
    }
    
}