
.menu-header {
    display: flex;
    align-items: center;
    &__list {
        list-style: none;
        display: none;
        margin-left: 128px;
        @include desktop {
            display: flex;
        }
    }    
    &__link {
        @include fonts ($fw: 700, $fs: 16px, $lh: 20px);
        color: $colorFontSecondary;
        margin-left: 35px;
        text-decoration: none;
        transition: 250ms;

        &:hover,
        &:focus {
            color: $colorFontTertiary;
        }
    }    
    &__button {
        z-index: 11;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: auto;
        margin-bottom: auto;
        border: none;
        background-color: transparent;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include tablet {
            position: relative;
        }
        @include desktop {
            display: none;
        }
        
    }
    
}

.icon__close {
    display: none;
    // transition: 250ms;
}

.menu__button.is-open .icon__close {
    display: block;
    // transition: 250ms;
}

.menu__button.is-open .icon__menu {
    display: none;
    // transition: 250ms;
    width: 14px;
    height: 14px;
}

.menu-header__button.is-open {
    position: absolute;
}

.menu__button {
    @include tablet {    
        // background-color: red;
        position: fixed;
        right: 32px;
        top: 20px;
    }
    &.is-open {
        @include tablet {
            position: absolute;
            right: 224px;
            top: 46px;
            // transform: translateY(-8px);
            background-color: transparent;
        }
    }
}

.icon__close {
    position: absolute;
    content: "";

}

.menu-container {
    box-sizing: border-box;
    padding-top: 60px;
    z-index: 11;
    position: absolute;
    content: "";
    right: 0;
    transform: translateX(100%);
    height: 100%;
    width: inherit;
    opacity: 1;
    transition: 250ms;
    transition-timing-function: ease-in-out;
    // display: none;
    background-color: $colorBackgroundModalSecondary;
    @include tablet {
        pointer-events: none;
    }
    @include desktop {
        pointer-events: all;
        display: flex;
        position: absolute;
        height: max-content;
        right: 100%;
        padding-top: 0px;
        background-color: transparent;
        transition: 0ms;
        transition-timing-function: ease-in-out;    
    }
    &.is-open {
        overflow: hidden;
        pointer-events: all;
        padding-top: 122px;
        transform: translateX(0);
        filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
        opacity: 1;
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $colorBackgroundModalSecondary;
        @include tablet {
            width: 254px;
        }
        @include desktop {
            display: none;
        }
    }
}

.menu-container {
    &__list {
        list-style: none;
        @include desktop {
            display: flex;
            position: absolute;
            left: 343px;
            top: 52px;
        }
    }
    &__button {
        pointer-events: all;
        @include fonts ($fw: 700, $fs: 16px, $lh: 21px);
        color: $colorFontTertiary;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 22px;
        border: none;
        width: 209px;
        height: 44px;
        margin-bottom: 32px;
        // transition: 250ms;
        // transition-timing-function: ease-in-out;
        &:hover,
        &:focus {
            background-color: $colorFontTertiary;
            color: $colorFontSecondary;
        }
        
        @include tablet {
            width: 186px;
            margin-bottom: 33px;
        }
    }
    &__item {
        padding-left: 20px;
        // padding-top: 12px;
        // padding-bottom: 12px;
        &:nth-child(2n+1) {
            border-top: 1px solid #E18298;
            border-bottom: 1px solid #E18298;
            @include desktop {
                border: none;
            }
        }
        @include desktop {
            padding: 0px;
            margin-left: 32px;
            &:first-child {
                margin-left: 0px;
            }
        }

    }
    &__link {
        @include fonts ($fw: 700, $fs: 16px, $lh: 21px);
        color: $colorButtonBackgroundPrimary;
        text-decoration: none;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        display: block;
        transition: 250ms;
        transition-timing-function: ease-in-out;
        &:hover,
        &:focus {
            color: $colorFontTertiary;
        }
        @include desktop {
            padding: 0;
        }
    }
}

.menu-header__button {
    pointer-events: all;
    height: 14px;
    padding: 0px;
    margin-top: 19px;
    @include tablet {
        margin-top: 0px;
    }
}

.menu-container button {
    pointer-events: all;
    position: absolute;
    content: "";
    left: -32px;
    top: 32px;
    transform: translateX(-100%);
    position: absolute;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 44px;
    transition: 250ms;
    @include fonts ($fw: 700, $fs: 16px, $lh: 21px);
    color: $colorFontTertiary;
    border: none;
    background-color: $colorFontSecondary;
    border-radius: 22px;
    transition: 400ms;
    transition-timing-function: ease-in-out;
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        transform: translateX(0);
        width: 186px;
        left: 50%;
        top: 58px;
        transition: 250ms;
    }
    @include desktop {
        left: 1009px;
        transform: translateX(0);
        width: 159px;
        top: 40px;
        transition: none; 
        transition: 250ms;
    }
    
    &:hover,
    &:focus {
        background-color: $colorFontTertiary;
        color: $colorFontSecondary;
    }
}
.menu-container.is-open button {
    position: absolute;
    content: "";
    margin-bottom: 20px;
    transform: translateX(0);
    width: 186px;
    left: 34px;
    top: 58px;
    transition: 0ms;
    transition-timing-function: ease-in-out;
    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
        transform: translateX(-50%);
        width: 206px;
        left: 50%;
        top: 58px;
        transition: 1ms;
    }
    @include desktop {
        transition: none; 
    }
}


//BACKDROP + MODAL

// .header-backdrop

.header-backdrop {
    z-index: 100;
    position: fixed;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #754a543b;
    transition: 250ms;
    transition-timing-function: ease-in-out;
    &.is-hidden1 {
        opacity: 0;
        pointer-events: none;
    }
    @media screen and (min-width: 350px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.hero-modal__close {
    display: inline-flex;
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    right: 14px;
    top: 20px;
    transform: translatex(-50%);
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: none;
    color: $colorFontTertiary;
    transition: 250ms;

    &:focus,
    &:hover {
        color: $colorFontSecondary;
    }
}


.hero-modal {
    background-image: url(../images/hero-header/apples.svg), 
    url(../images/hero-header/milk.svg),
    url(../images/hero-header/heart.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 250 70, 100 189, 200 375;
    @include tablet {
        background-size: 35px;
        background-position: 370 45, 100 150, 400 350; 
    }
    @include desktop {
        background-size: 35px;
        background-position: 355 45, 110 185, 355 400; 
    }
    max-width: 450px;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    // width: 320px;
    height: 473px;
    background-color: #E17992;
    @include tablet {
        height: 416px;
    }
    @include desktop {
        height: 500px;
    }
}

.hero-form {
    padding-top: 20px;
    @include tablet {
        padding-top: 0px;
    }
    &__item {
        position: relative;
        height: max-content;
        height: 34px;
        margin-bottom: 28px;
        @include tablet {
            height: 30px;
            margin-bottom: 23px;
        }
        @include desktop {
            height: 38px;
            margin-bottom: 28px;
        }
        &--textarea {
            height: 85px;
            margin-bottom: 10px;
            @include tablet {
                height: 75px;
                margin-bottom: 10px;
            }
            @include desktop {
                height: 95px;
                margin-bottom: 20px;
            }
        }
    }
    &__label {
        display: flex;
        position: absolute;
        content: "";
        top: -4px;
        left: 0;
        transform: translateY(-100%);
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 12px, $lh: 14px);
        color: $colorFontTertiary;   
        cursor: pointer;
    }
    &__input {
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        border-radius: 2px;
        width: 100%;
        max-width: 450px;
        height: 34px;
        padding-left: 40px;
        color: $colorFontTertiary;     
        cursor: pointer;
        background-color: $colorBackgroundPrimary;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @include tablet {
            height: 30px;
        }
        @include desktop {
            height: 38px;
        }
        &:focus,
        &:hover {
            box-shadow: 0px 1px 3px #D41443, 0px 1px 1px #D41443, 0px 2px 1px #D41443;
            
        }
        &:focus + &__input-icon {
            width: 20px;
            height: 20px;
        }
    }
    &__input-icon {
        cursor: pointer;
        position: absolute;
        content: "";
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        fill: $colorFontTertiary;
        &:focus,
        &:hover {
            width: 20px;
            height: 20px;   
        }
    }
    &__textarea {
        cursor: pointer;
        &--container {
            height: 85px;
            margin-bottom: 10px;
            @include tablet {
                height: 75px;
                margin-bottom: 10px;
            }
            @include desktop {
                height: 95px;
                margin-bottom: 20px;
            }
        }
        margin-bottom: 10px;
        padding-left: 15px;
        padding-top: 5px;
        max-width: 450px;
        width: 100%;
        height: 85px;
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 12px, $lh: 14px);
        color: #D41443;
        background-color: $colorBackgroundPrimary;
        resize: none;
        border: none;
        outline: none;
        transition: 250ms;
        &:focus,
        &:hover {
            box-shadow: 0px 1px 3px #D41443, 0px 1px 1px #D41443, 0px 2px 1px #D41443;
        }
        &::placeholder {
            color: #d4144480;
        }
        @include tablet {
            height: 75px;
        }
        @include desktop {
            height: 95px;
            margin-bottom: 20px;
        }
    }
    &__button-send {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 44px;
        justify-content: center;
        align-items: center;
        color: $colorFontTertiary;
        border-radius: 22px;
        border: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: $colorFontTertiary;
            color: $colorFontSecondary;
        }
    }
}

.checkbox-contanier {
    cursor: pointer;
    &__checkbox {
        cursor: pointer;
        margin-right: 5px;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1.5px solid $colorFontTertiary;
        border-radius: 50%;
        background-color: #ffb8ca;
        transition: 250ms;
        &:checked + .icon__check {
            opacity: 1;
            background-image: url(../images/hero-header/ice-cream.svg);
            background-size: 16px 16px;
            background-repeat: no-repeat;
            // background-color: white;
            margin-right: 8px;
            transition: 250ms;
        }
    }
    text-align: center;
    margin-bottom: 20px;
    @include tablet {
        margin-bottom: 10px;
    }
    &__checkbox-label {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        @media screen and (max-width: 319px) {
            @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 7px, $lh: 9px);
        }
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 8px, $lh: 10px);
        color: $colorFontSecondary;
        @include tablet {
            @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 11px, $lh: 13px);
        }
        @include desktop {
            @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 400, $fs: 11px, $lh: 13px);
        }
    }

}

.contract {
    margin-left: 5px;
    color: $colorFontTertiary;
    @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 700, $fs: 8px, $lh: 10px);
    transition: 250ms;
    &:hover,
    &:focus {
        color: $colorFontSecondary;
    }
    @media screen and (max-width: 301px) {
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 700, $fs: 8px, $lh: 10px);    
    }
    @include tablet {
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 700, $fs: 13px, $lh: 15px);        
    }
    @include desktop {
        @include fonts ($ff: 'Titan One', $ffs: normal, $fw: 700, $fs: 13px, $lh: 15px);        
    }
}

.icon__check {
    opacity: 0;
    margin-right: 8px;
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    bottom: -6;
    left: 2;
    transform: translateY(-50%);
    // background-image: url("../images/Vector.svg");transition-duration: 250ms;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 320px) {
        bottom: -4px;
    }
}

// .checkbox-test {

// }
// .checkbox-test__checkbox {
// :checked .checkbox-test__box {
//         display: none;
//     }
// }
// .checkbox-test__container {
    
// }
// .checkbox-test__checkbox:checked + .checkbox-test__box {
//     display: block;
// }
// .checkbox-test__box {
//     display: none;
// }

// .checkbox-test__checkbox:checked + .checkbox-test__text {
//     display: none;
// }

// .checkbox-test__text {
//     display: block;
// }

.checkbox-test {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 767px) {
        display: none;
    }
    color: $colorFontTertiary;
    pointer-events: none;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    content: "";
    left: 184px;
    bottom: 42px;
    transition: 250ms;
    @include desktop {
        left: 229px;
        bottom: 84px;
    }
}

.checkbox-test__checkbox {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    cursor: pointer;
    pointer-events: auto;
    display: inline-flex;
    margin-top: 7px;
    width: 18px;
    height: 18px;
    background-color: $colorFontSecondary;
    border-radius: 50%;
    margin-right: auto;
        appearance: none;
    @include desktop {
        width: 26px;
        height: 26px;
        margin-top: 20px;
    }
    &:hover {
        background-color: $colorFontTertiary;
    }
    &:hover ~ .hero__arrow-right {
        fill: white;
    }

}
.checkbox-test__checkbox:checked {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #d41443;
    color: white;
}

.checkbox-test__list1 {
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    opacity: 1;
    transition: 250ms;
    @include tablet {
        opacity: 1;
        @include fonts ($fw: 400, $fs: 8px, $lh: 12px);      
        color: $colorFontSecondary;  
        height: 48px;
        width: 114px;
    }
    @include desktop {
        opacity: 1;
        @include fonts ($fw: 400, $fs: 14px, $lh: 20px);      
        color: $colorFontSecondary;  
        height: 78px;
        width: 200px;
    }
}
.checkbox-test__list2 {
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    opacity: 0;
    @include tablet {
        @include fonts ($fw: 400, $fs: 8px, $lh: 12px);      
        color: $colorFontSecondary;  
        height: 48px;
        width: 335px;
        bottom: -48;
    }
    @include desktop {
        @include fonts ($fw: 400, $fs: 14px, $lh: 20px);      
        color: $colorFontSecondary;  
        bottom: -78;
        height: 78px;
        width: 600px;
    }
}

// .checkbox-test__checkbox {
//     &:hover,
//     &:focus {
//         background-color: #D41443;
//     }
// }

.checkbox-test__checkbox:checked ~ .checkbox-test__list1 {
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-test__checkbox:checked ~ .checkbox-test__list2 {
    text-indent: 1.0em;
    position: relative;
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include tablet {
        bottom: -48;
    }
    @include desktop {
        bottom: -78;
    }
}



.checkbox-test__checkbox:checked ~ .hero__arrow-right {
    fill: white;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form__input:focus ~ .hero-form__input-icon,
.hero-form__input:hover ~ .hero-form__input-icon {
    width: 20px;
    height: 20px;
}

// .checkbox-test__checkbox:hover ~ .hero__arrow-right {
//     color: black;
// }

.list2__before {
    display: block;
    transition: 250ms;
    margin-left: 30px;
    margin-top: 3px;
    text-indent: 1.0em;
    @include desktop {
        margin-left: 50px;
    }
}
.list2__after {
    display: block;
    transition: 250ms;
    margin-left: 50px;
    margin-top: 3px;
    text-indent: 1.0em;
}
